<div class="page-header">
  <h1 class="text-xs-center text-uppercase text-justify">
    {{$ctrl.post.title}}
  </h1>
  <h6 class="text-xs-center text-muted">{{$ctrl.post.createdAt|date:'short'}}</h6>
</div>
<div class="card">
  <div class="card-block">
    <p>
      {{$ctrl.post.content}}
    </p>
  </div>
  <div class="card-footer">
    back to <a href="#" ui-sref="app.posts">{{'post-list'}}</a>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Comments &bull;
  </div>
  <div class="card-block">
    <div class="media" ng-repeat="c in $ctrl.comments">
      <div class="media-left media-top">
        <a href="#">
          <img class="media-object" src="../" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h6 class="media-heading">{{c.createdAt}}</h6>
        <p> {{c.content}}</p>
      </div>
    </div>

    <form id="form" name="form" class="form" ng-submit="$ctrl.onSaveComment()" novalidate>
      <div class="form-group" ng-class="{'has-danger':form.content.$invalid && !form.content.$pristine}">
        <label class="form-control-label" for="content">{{'comment-content'}} *</label>
        <textarea class="form-control" type="content" name="content" id="content" ng-model="$ctrl.newComment.content" rows="8" required ng-minlength="10">
        </textarea>
        <div class="form-control-feedback" ng-messages="form.content.$error" ng-if="form.content.$invalid && !form.content.$pristine">
          <p ng-message="required">Comment is required</p>
          <p ng-message="minlength">At least 10 chars</p>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg" ng-disabled="form.$invalid || form.$pending">  {{'save'}}
        </button>
      </div>
    </form>
  </div>
</div>
