
<div class="jumbotron">
	<h1>Angular 1.5 and ES6 Sample</h1>
	<p>An AngularJS sample using the latest angular 1.5(embrace component), ES6, Webpack etc.</p>
	<p>
		<a href="https://github.com/hantsy/angular-es6-sample" class="btn btn-primary btn-lg">
			<i class="fa fa-download"></i>&nbsp;&nbsp;Download
		</a>
		<a href="https://github.com/hantsy/angular-es6-sample" class="btn btn-outline-primary btn-lg">
			<i class="fa fa-github"></i>&nbsp;&nbsp;Fork on GitHub
		</a>
	</p>
</div>


<div class="card">
	<div class="card-header">
		<h3 class="text-uppercase text-justify">Angular 1.5</h3>
	</div>
	<div class="card-block">
		<p>Use new component instead of legacy controller and directive.</p>
		<a href="http://angularjs.org">AngularJS</a>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<h3 class="text-uppercase text-justify">ES6</h3>
	</div>
	<div class="card-block">
		<p>Use tomorrow's technology today.</p>
		<a href="http://exploringjs.com/es6">Explore ES6</a>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<h3 class="text-uppercase text-justify">Webpack</h3>
	</div>
	<div class="card-block">
		<p>The only build pack you should have.</p>
		<a href="https://webpack.github.io/">Webpack</a>
	</div>
</div>
