body
  background-color #ecf0f1
  margin 80px 0 60px 0
  overflow-y scroll
  height 100%

.thumbnail
  width 70px
  height 70px
  border 1px solid #CE8982

.meta, .meta-comments
  font-size12px
  color #333
  margin-bottom 0

.meta-comments
  font-weight bold

.jumbotron
  color #333
  background-color #fff
  box-shadow 0 1px 3px rgba(0,0,0,0.1)
  border-radius 5px
  padding-top 15px
  padding-bottom 10px
  margin-top 15px
  border 1px solid #ccc
  -webkit-transitionall linear 0.5s
  -moz-transitionall linear 0.5s
  -o-transitionall linear 0.5s
  transitionall linear 0.5s

.jumbotron h1
  color #333
  letter-spacing -2px

.jumbotron small
  color #999

